{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <nav>

    </nav>
</header>

<body>
    <main>
        <div>
                
            <h1>{{list_instance.name}}</h1>
            <p><a href="{% url 'todo_list_update' list_instance.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' list_instance.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>due date</th>
                    </tr>
                <tbody>
                    {% for list in list_instance.items.all %}
                    <tr>
                        <td>{{list.task}}</td>
                        <td>{{list.due_date|date:"j/n/o"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
                <p>insert number of items for this list</p>

            </table>
        </div>
    </main>
</body>

</html>
